
/* 위치 설정*/
section .about-self .left{
    width:50%;
    float:left;
}
section .about-self /*여기 한 칸 띄어쓰는거 중요!*/.left img{
    width:100%;
}
section .about-self .right{
    width:50%;
    float:left;
    padding: 0 2rem;
}

/* 폰트 꾸미기 */
section .about-self .right h3{
    font-size: 2.25rem;
    margin-bottom: 1rem;
}
section .about-self .right h3 strong{
    color:#ed4848;
}
section/*여기 한 칸 띄어쓰기 중요*/ .about-self .right p{
    font-size: 1.15rem;
    margin: 1rem 0;
}
section .about-self .right .social a{
    font-size: 2.5rem;
    margin-right:0.2rem;
}