section .contact-me::after{
    content:"";
    display:block;
    clear:both;
}
section .contact-me .left{
    width:30%;
    float:left;
}

section .contact-me .left .card{ /*아이콘과 글이 한 줄로 적히도록*/
    border:1px solid #ccc;
    padding:1rem;
    display:flex;
    align-items:center;
    margin-bottom:1.25rem;
}

section .contact-me .left .card .icon{ /*아이콘과 글이 한 줄로 적히도록*/
  font-size:2rem;
  margin-right:15px;
}

section .contact-me .right{
    width:65%;
    float:left;
    margin-left:5%;
    margin-bottom:2rem;
    border:1px solid #ccc;
    padding:1rem; 
}

section .contact-me .right .form-group{ /*칸끼리 (위아래) 간격 설정*/
    margin-bottom:1.25rem; 
}

section .contact-me .right .form-group label{
    display:block;
    margin-bottom: 0.85rem;
}
section .contact-me .right .form-group input{
    width:100%;
    padding:0.625rem;
    outline:none;
    border:1px solid #ccc;
    border-radius:10px;
}

section .contact-me .right .form-group textarea{
    height:300px;
    width:100%;
    outline:none;
    resize:none; /*사용자가 레이아웃 마음대로 못 바꾸게 함*/
    border:1px solid #ccc;
    border-radius:10px;
}

section .contact-me .right .form-group input:focus, section .contact-me .right .form-group textarea:focus{
    border:1px solid #719ECE;/*입력 요소에 커서가 활성화되면 효과 추가*/
    box-shadow:0 0 10px #719ECE;
  }

section .contact-me .right button{ /*버튼 꾸미기*/
    width:100%;
    padding:1rem;
    background-color:#f78b00;
    border:none;
    color:white;
}