header{
    position: absolute; /*top 0에서 최상위에 붙도록*/
    top:0; 
    width:100%;
    padding:1rem;
}
header .container{ /* 'SU'와 다른메뉴들이 한 줄에 나란히 들어가도록 함. header.container로 안 붙이고 하니까 한 줄에 안 들어감 왜지*/
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
   }

header button{
    background-color:transparent;
    border:0;
    cursor:pointer;
}
header h1 button{ /* 'SU'글자 폰트 꾸미기 */
    font-size:2rem;
    font-weight:bold;
}

header nav ul{
    display: flex;
}

header nav ul li{ /* 메뉴끼리 간격 주기*/
    padding:10px;
}

header nav ul li{
    font-size: 1.2rem;
}